@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rufina", serif;
}
.container {
  @apply max-w-[1440px] p-4 mx-auto;
}
.wrapper {
  background: #c2efd4;
}
nav > a {
  color: #224f34;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
nav > a:hover {
  text-decoration: underline;
  transition: all 2s;
}

.hero-bg {
  border-radius: 141px 45px 150px 82px;
  background: #6bc785;
}
.main_wrapper {
  background-color: #c2efd4;
  max-width: 1310px;
  margin: auto;
}
.footer-items > a {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.footer-items > span {
  color: #c2efd4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

::placeholder{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 10px;
}