@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rufina", serif;
}
.container {
  @apply max-w-[1440px] p-4 mx-auto;
}
.wrapper {
  background: #c2efd4;
}
nav > a {
  color: #224f34;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
nav > a:hover {
  text-decoration: underline;
  transition: all 2s;
}

.hero-bg {
  border-radius: 141px 45px 150px 82px;
  background: #6bc785;
}
.main_wrapper {
  background-color: #c2efd4;
  max-width: 1310px;
  margin: auto;
}
.footer-items > a {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.footer-items > span {
  color: #c2efd4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

::placeholder{
color: #FFFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 10px;
}


/* Preloader styles with 3D effect */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  perspective: 1000px; /* Create a 3D perspective container */
}

.loader {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d; /* Enable 3D transformations */
  animation: spin 2s linear infinite;
}

.loader div {
  width: 50px;
  height: 50px;
  background: #224F34;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite reverse; /* Reverse the rotation for the inner element */
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
